
# neuralset
# neuraltrain
# neuralfetch
exca
submitit

lightning
torchmetrics
x-transformers

transformers
peft

numpy
pandas
scipy
scikit-learn
pydantic
regex
tqdm
PyYAML

mne
dtw-python

edit-distance
Levenshtein
g2p-en


wandb

matplotlib
seaborn

kenlm
pytest>=7.0
ruff>=0.4
